.profile-image-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 96vw;
    position: fixed;
    z-index: 3;
    margin-top: 5%;
    pointer-events: none;
}

.flip {
    width: auto;
    height: auto;
    transform: rotateY(180deg);
    transition: transform, width ease, height ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.circle-mask{
    width: 17.5vw; /* Tamaño de la máscara circular */
    height: 17.5vw;
    border-radius: 50%; /* Hace la máscara circular */
    overflow: hidden; /* Oculta el contenido fuera del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-container img{
    width: 30vw;
    height: 18vw;
    border-radius: 50%;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 1.25vw;
    pointer-events: auto;
}

.social-media-button-container{
    width: 7vw;
    height: 7vw;
    border-radius: 10%;
    border: none;
    transition: transform 0.3s ease;
}

.social-media-button-container:hover{
    transform: scale(1.2);
}

.social-media-button-container svg{
    width: 3.5vw;
    height: 3.5vw;
}

.image-container{
    display: flex;
    position: relative;
    overflow: hidden;
    height: fit-content;
    width: 24vw;
    margin: 0.5vw;
}

.image-container img{
    display: flex;
    flex-direction: row;
    width: 24vw;
    height: auto;
    border-radius: 5%;
}

.image-column-container {
    display: flex;
    flex-direction: column;
}

.mosaic{
    width: 96vw;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    opacity: 50%;
}

body{
    width: 100vw;
    justify-content: center;
    background-color: black;
}

h1{
    font-size: 1.5vw;
}
p{
    font-size: 1vw;
}

@media (max-width: 768px) {
    .profile-image-container {
        margin-top: 25%;
        position: absolute; /* Permite que el banner se desplace */
        z-index: 10; /* Reduce el z-index para que no se superponga a otros elementos */
    }

    .profile-image-container img{
        width: 20em;
        height: 12em;
        border-radius: 50%;
    }
    
    .circle-mask {
        width: 12em; /* Tamaño de la máscara circular */
        height: 12em;
    }

    .image-container{
        width: 22.5vw;
        height: auto;
    }

    .image-container img {
        width: 22.5vw; /* Ajuste de tamaño para dispositivos móviles */
        height: auto;
    }

    .mosaic{
        margin-top: 5%;
        width: fit-content;
        display: flex;
        justify-content: center;
        position: absolute;
        opacity: 50%;
    }

    .buttons-container{
        gap: 3vw;
    }
    .social-media-button-container{
        width: 14vw;
        height: 14vw;
    }

    .social-media-button-container svg{
        width: 8vw;
        height: 8vw;
    }

    h1{
        font-size: 4vw;
    }
    p{
        font-size: 2.5vw;
    }
}