.profile-image-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    z-index: 3;
    margin-top: 2%;
    pointer-events: none;
}

.flip {
    width: auto;
    height: auto;
    transform: rotateY(180deg);
    transition: transform, width ease, height ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.circle-mask{
    width: 17.5em; /* Tamaño de la máscara circular */
    height: 17.5em;
    border-radius: 50%; /* Hace la máscara circular */
    overflow: hidden; /* Oculta el contenido fuera del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-container img{
    width: 30em;
    height: 18em;
    border-radius: 50%;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    pointer-events: auto;
}

.social-media-button-container{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: none;
    transition: transform 0.3s ease;
}

.social-media-button-container:hover{
    transform: scale(1.2);
}

.social-media-button-container img{
    width: 50px;
    height: 100px;
}

.image-container{
    display: flex;
    position: relative;
    overflow: hidden;
    height: fit-content;
    margin: 10px;
}

.image-container img{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: auto;
    border-radius: 5%;
}

.image-column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mosaic{
    width: 100vw;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    opacity: 50%;
}

body{
    width: 100%;
    justify-content: center;
    background-color: black;
}

@media (max-width: 768px) {
    .profile-image-container {
        margin-top: 25%;
        position: absolute; /* Permite que el banner se desplace */
        z-index: 10; /* Reduce el z-index para que no se superponga a otros elementos */
    }

    .profile-image-container img{
        width: 20em;
        height: 12em;
        border-radius: 50%;
    }
    
    .circle-mask {
        width: 12em; /* Tamaño de la máscara circular */
        height: 12em;
    }

    .image-container{
        width: 20vw;
        height: auto;
    }

    .image-container img {
        width: 20vw; /* Ajuste de tamaño para dispositivos móviles */
        height: auto;
    }

    .mosaic{
        margin-top: 5%;
        width: fit-content;
        display: flex;
        align-self: center;
        justify-content: center;
        position: absolute;
        opacity: 50%;
    }

    .social-media-button-container{
        width: 6em;
        height: 6em;
    }

    .social-media-button-container svg{
        width: 3.5em;
        height: 3.5em;
    }
}